<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AllTogetherNews</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>utils.login.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewServlet</display-name>
    <servlet-name>AddNewServlet</servlet-name>
    <servlet-class>utils.login.AddNewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewServlet</servlet-name>
    <url-pattern>/AddNewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertarTemaServlet</display-name>
    <servlet-name>InsertarTemaServlet</servlet-name>
    <servlet-class>utils.login.InsertarTemaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertarTemaServlet</servlet-name>
    <url-pattern>/InsertarTemaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>añadirTematicaServlet</display-name>
    <servlet-name>añadirTematicaServlet</servlet-name>
    <servlet-class>utils.login.añadirTematicaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>añadirTematicaServlet</servlet-name>
    <url-pattern>/añadirTematicaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MostrarNoticiasServlet</display-name>
    <servlet-name>MostrarNoticiasServlet</servlet-name>
    <servlet-class>utils.login.MostrarNoticiasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MostrarNoticiasServlet</servlet-name>
    <url-pattern>/MostrarNoticiasServlet</url-pattern>
  </servlet-mapping>
</web-app>