@CHARSET "ISO-8859-1";
/*Layout*/

html {
	/*margin: 0;*/
	margin:auto;
	padding: 0;
	background:#616161;
	background-size:cover;
	heigh:100%;

}

body {
	margin:auto;
	width: 980px;
	heigh:100%;
	/*margin: 0 auto;*/
	font: 10pt/1.5em Helvetica,"Helvetica neue", Arial, sans-serif;
	background:#eeeeee url(images/news.jpg)center top repeat;
	float:center;
	opacity:0.8;
}
header,section,aside,footer{
	display: block;
	
}
#headerPag{
	background:#c82d44;
	margin-bottom:50px;
	border: 3px solid #000000;
	border-radius:10px;
	background: -webkit-linear-gradient(#c82d44, #db6072); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#c82d44, #db6072); /* For Opera 11.1 to 12.0 */
 	background: -moz-linear-gradient(#c82d44, #db6072); /* For Firefox 3.6 to 15 */
 	background: linear-gradient(#c82d44, #db6072); /* Standard syntax */
}

#headerPag h1 {
	font: 32pt Helvetica,"Helvetica neue", Arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	color:#ffffff;
	padding: 15px 10px 10px 10px;
	text-shadow: 2px 2px 2px #000000; 
}
#headerPag small {
	font: 15pt Helvetica,"Helvetica neue", Arial, sans-serif;
	text-transform: uppercase;
	color:#e0e0e0;
	padding: 15px 10px 10px 10px;
	text-shadow: 2px 2px 2px #000000; 
}

#noticia {
	float: left;
	width: 600px;
	height:100%;
	margin-left: 5%; 
	margin-rigth: auto; 
	border: #000000 2px solid; 
	background:#fcfcfc;
	
}
#noticia article {
	margin-bottom: 5%;
}
#noticia h1 a{
	font: 23px Helvetica,"Helvetica neue", Arial, sans-serif;
	font-weight: bold;
	color:#a60000;
	align:justify;
	margin-left:3%;
	
}
#noticia h1 a:hover{
	color:#5c5c5c;
}
#noticia h1 a:visited{
	color:#000000;
}
#noticia h2{
	font: 12px Helvetica,"Helvetica neue", Arial, sans-serif;
	color:#000000;
	align:justify;
	margin-left:3%;
	
}
#noticia p{
	font: 16px Helvetica,"Helvetica neue", Arial, sans-serif;
	color:#000000;
	align:justify;
	margin-left:3%;
}


footer{
	clear:both !important;
	width:940px;
	height: 30px;
	padding: 10px;
	color:#e8e8e8 ;
	background:#000000;
	
	/*Opacity*/
	filter:alpha(opacity=80); /* msie */  
	-moz-opacity: 0.80; /* firefox 1.0 */  
	-khtml-opacity: 0.80; /* webkit */  
	opacity: 0.80; /* css 3 */
 
 	background: -webkit-linear-gradient(#000000, #3e3e3e); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#000000, #3e3e3e); /* For Opera 11.1 to 12.0 */
 	background: -moz-linear-gradient(#000000, #3e3e3e); /* For Firefox 3.6 to 15 */
 	background: linear-gradient(#000000, #3e3e3e); /* Standard syntax */
	
	/*Round corners*/
	-moz-border-radius: 12px; /* FF1+ */
	-webkit-border-radius: 12px; /* Saf3+, Chrome */
	border-radius: 12px; /* Opera 10.5, IE 9 */
}
