@CHARSET "ISO-8859-1";
/*Layout*/

html, body {
	
	margin:auto;
	padding: 0;
	display:block;
	background-color:#e8e8e8;

}

header,section,nav,aside,footer{
	display: block;
	
}


#franja nav{

position: relative;
left: 0;
margin:auto;
width: 970px;


}
#franja nav ul{
margin: 0 auto;
list-style: none;
}

#franja nav li {
	float: left;
	width: 130px;
	height:60px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	border-left: 10px solid #c82d44;
	margin-right:10px;
	display: list-item;
	text-align: -webkit-match-parent;
 }

#franja nav li a{
 	text-align: center;
 	text-decoration: none;
 	padding: 17px 10px 10px 10px;
    display: block;
	color:white;
	font-family: Arial, sans-serif;
   	font-size: 13pt;
 }

#franja nav li a:hover{
    border-color: #d74d62;
    background: #6c6c6c;
}
#franja nav ul li.selected a {
    color: #d74d62;
}

.header{
   	width:100%;
   	margin:0 auto;
   	position:relative;
	background:#c82d44;
	align:center;
	border: 3px solid #000000;
	border-radius:10px;
	background: -webkit-linear-gradient(#c82d44, #db6072); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#c82d44, #db6072); /* For Opera 11.1 to 12.0 */
 	background: -moz-linear-gradient(#c82d44, #db6072); /* For Firefox 3.6 to 15 */
 	background: linear-gradient(#c82d44, #db6072); /* Standard syntax */
}

#franja{
  
   top:115px;
   left:0;
   height:60px;
   background-color:#313B44;
   border-bottom:6px black solid;
}
.header h1 {
	font: 32pt Helvetica,"Helvetica neue", Arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	color:#ffffff;
	/*padding: 15px 10px 10px 10px;*/
	text-shadow: 2px 2px 2px #000000; 
}
.header small {
	font: 15pt Helvetica,"Helvetica neue", Arial, sans-serif;
	text-transform: uppercase;
	color:#e0e0e0;
	padding: 15px 10px 10px 10px;
	text-shadow: 2px 2px 2px #000000; 
}

.contenido{
	margin:auto;
	width: 970px;
	font: 10pt/1.5em Helvetica,"Helvetica neue", Arial, sans-serif;
	background: url(images/news.jpg)center top repeat;
	display:block;
}

section {
	
	width: 700px;
	height:100%;
	margin-left: 5%; 
	margin-rigth: auto; 
	margin-top:5px;
	border: #000000 2px solid; 
	background:#fcfcfc;
	float:left;

}

section h1 a{
	font: 23px Helvetica,"Helvetica neue", Arial, sans-serif;
	font-weight: bold;
	color:#a60000;
	align:justify;
	margin-left:3%;
	
	
}
section h1 a:hover{
	color:#5c5c5c;
	
}
section h1 a:visited{
	color:#000000;
	
}
section h2{
	font: 12px Helvetica,"Helvetica neue", Arial, sans-serif;
	color:#000000;
	align:justify;
	margin-left:3%;
	
	
}
section p{
	font: 16px Helvetica,"Helvetica neue", Arial, sans-serif;
	color:#000000;
	align:justify;
	margin-left:3%;
	
}


footer{
	clear:both !important;
	width:100%;
	height: 30px;
	padding-top: 10px;
	color:#e8e8e8 ;
	background:#000000;
	position:relative;
	
	/*Opacity*/
	filter:alpha(opacity=80); /* msie */  
	-moz-opacity: 0.80; /* firefox 1.0 */  
	-khtml-opacity: 0.80; /* webkit */  
	opacity: 0.80; /* css 3 */
 
 	background: -webkit-linear-gradient(#000000, #3e3e3e); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#000000, #3e3e3e); /* For Opera 11.1 to 12.0 */
 	background: -moz-linear-gradient(#000000, #3e3e3e); /* For Firefox 3.6 to 15 */
 	background: linear-gradient(#000000, #3e3e3e); /* Standard syntax */
	
	/*Round corners*/
	-moz-border-radius: 12px; /* FF1+ */
	-webkit-border-radius: 12px; /* Saf3+, Chrome */
	border-radius: 12px; /* Opera 10.5, IE 9 */
}
